In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('DATA/houseprice.csv',
               usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])
df.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

#### Count and Frequency encoding with pandas

In [3]:
mapping_dict=df['Neighborhood'].value_counts().to_dict()

In [4]:
df['Neighborhood']=df['Neighborhood'].map(mapping_dict)

In [5]:
df.head()

   Neighborhood Exterior1st Exterior2nd  SalePrice
0           150     VinylSd     VinylSd     208500
1            11     MetalSd     MetalSd     181500
2           150     VinylSd     VinylSd     223500
3            51     Wd Sdng     Wd Shng     140000
4            41     VinylSd     VinylSd     250000

In [6]:
mapping_dict

{'NAmes': 225,
 'CollgCr': 150,
 'OldTown': 113,
 'Edwards': 100,
 'Somerst': 86,
 'Gilbert': 79,
 'NridgHt': 77,
 'Sawyer': 74,
 'NWAmes': 73,
 'SawyerW': 59,
 'BrkSide': 58,
 'Crawfor': 51,
 'Mitchel': 49,
 'NoRidge': 41,
 'Timber': 38,
 'IDOTRR': 37,
 'ClearCr': 28,
 'SWISU': 25,
 'StoneBr': 25,
 'Blmngtn': 17,
 'MeadowV': 17,
 'BrDale': 16,
 'Veenker': 11,
 'NPkVill': 9,
 'Blueste': 2}